apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "wordpress-fpm.fullname" . }}
  labels:
    {{- include "wordpress-fpm.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "wordpress-fpm.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "wordpress-fpm.labels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "wordpress-fpm.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command:
            - /bin/bash
          args:
            - -ec
            - /opt/mgx-entrypoint.sh 
                       
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
            - name: rsync
              containerPort: 873
              protocol: TCP
          {{- if .Values.enableProbes }}
          livenessProbe:
            {{- toYaml .Values.livenessProbe | nindent 12 }}
          readinessProbe:
            {{- toYaml .Values.readinessProbe | nindent 12 }}
          {{- end }}
          env: 
            - name: CHART_NAME
              value: {{ .Chart.Name }}
            - name: PVC_SHARED_DIR
              valueFrom:
                configMapKeyRef:
                  name: {{ include "wordpress-fpm.fullname" . }}-config
                  key: PVC_SHARED_DIR
            - name: REMOTE_FILE_CHECK
              valueFrom:
                configMapKeyRef:
                  name: {{ include "wordpress-fpm.fullname" . }}-config
                  key: REMOTE_FILE_CHECK
            - name: RSYNC_SSH_KEY_PATH
              valueFrom:
                configMapKeyRef:
                  name: {{ include "wordpress-fpm.fullname" . }}-config
                  key: RSYNC_SSH_KEY_PATH
            - name: RSYNC_BACKUP_HOST
              valueFrom:
                configMapKeyRef:
                  name: {{ include "wordpress-fpm.fullname" . }}-config
                  key: RSYNC_BACKUP_HOST
            - name: RSYNC_BACKUP_SOURCE
              valueFrom:
                configMapKeyRef:
                  name: {{ include "wordpress-fpm.fullname" . }}-config
                  key: RSYNC_BACKUP_SOURCE
            - name: WORDPRESS_CONFIG_EXTRA
              valueFrom:
                configMapKeyRef:
                  name: {{ include "wordpress-fpm.fullname" . }}-config
                  key: WORDPRESS_CONFIG_EXTRA
            
            # Sensitive data from Secrets
            - name: WORDPRESS_DB_HOST
              valueFrom:
                secretKeyRef:
                  name: {{ include "wordpress-fpm.fullname" . }}-secrets
                  key: WORDPRESS_DB_HOST
            - name: WORDPRESS_DB_USER
              valueFrom:
                secretKeyRef:
                  name: {{ include "wordpress-fpm.fullname" . }}-secrets
                  key: WORDPRESS_DB_USER
            - name: WORDPRESS_DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ include "wordpress-fpm.fullname" . }}-secrets
                  key: WORDPRESS_DB_PASSWORD
            - name: WORDPRESS_DB_NAME
              valueFrom:
                secretKeyRef:
                  name: {{ include "wordpress-fpm.fullname" . }}-secrets
                  key: WORDPRESS_DB_NAME
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          {{- if or .Values.volumeMounts .Values.persistence.additionalMounts }}
          volumeMounts:
            {{- if .Values.volumeMounts }}
             {{- .Values.volumeMounts | toYaml | nindent 12 }}
            {{- end }}
            {{- if .Values.persistence.additionalMounts }}
             {{- .Values.persistence.additionalMounts | toYaml | nindent 12 }}
            {{- end }}
          {{- end }}
      {{- if or .Values.volumes .Values.persistence.additionalVolumes }}
      volumes:
        {{- if .Values.volumes }}
          {{- .Values.volumes | toYaml | nindent 8}}
        {{- end }}
        {{- if .Values.persistence.enabled }}
          persistentVolumeClaim:
            claimName: {{ .Values.persistence.existingClaim | default (include "wordpress-fpm.fullname" .) }}
        {{- end }}
        {{- if .Values.persistence.additionalVolumes }}
          {{- .Values.persistence.additionalVolumes | toYaml | nindent 8}}
        {{- end }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
