apiVersion: v1
kind: Service
metadata:
  name: {{ include "wordpress-fpm.fullname" . }}
  labels:
    {{- include "wordpress-fpm.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 9000
      protocol: TCP
      name: http
    - port: 873
      targetPort: 873
      protocol: TCP
      name: rsync
  selector:
    {{- include "wordpress-fpm.selectorLabels" . | nindent 4 }}
