{{- if not .Values.externalSecrets.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.secrets.tlsSecretname }}
  labels:
    {{- include "nginx-stream.labels" . | nindent 4 }}
type: kubernetes.io/tls
data:
  {{- if .Values.secrets.tlsCertificate }}
  tls.crt: {{ .Values.secrets.tlsCertificate | quote }}
  {{- end }}
  {{- if .Values.secrets.tlsKey }}
  tls.key: {{ .Values.secrets.tlsKey | quote }}
  {{- end }}
{{- end }}
{{- if and .Values.externalSecrets.enabled (eq .Values.externalSecrets.secretTLSStore.name "local-vault")}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.secrets.tlsSecretname }}
  labels:
    {{- include "nginx-stream.labels" . | nindent 4 }}
type: kubernetes.io/tls
stringData:
{{ .Files.Get .Values.externalSecrets.secretTLSStore.secretFile | indent 2 }}  
{{- end }}
{{- if not .Values.externalSecrets.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "nginx-stream.fullname" . }}-secrets
  labels:
    {{- include "nginx-stream.labels" . | nindent 4 }}
type: Opaque
data:
  {{- if .Values.secrets.sshPrivateKey }}
{{ .Values.secrets.sshPrivateKeyName | indent 2 }}: {{ .Values.secrets.sshPrivateKey | quote }}
  {{- end }}
{{- end }}
{{- if and .Values.externalSecrets.enabled (eq .Values.externalSecrets.secretStore.name "local-vault")}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "nginx-stream.fullname" . }}-secrets
  labels:
    {{- include "nginx-stream.labels" . | nindent 4 }}
type: Opaque
stringData:
{{ .Files.Get .Values.externalSecrets.secretStore.secretFile | indent 2 }}  
{{- end }}