{{- if not .Values.externalSecrets.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "payload-cms.fullname" . }}-secrets
  labels:
    {{- include "payload-cms.labels" . | nindent 4 }}
type: Opaque
data:
  {{- if .Values.secrets.databaseUri }}
  DATABASE_URI: {{ .Values.secrets.databaseUri | b64enc | quote }}
  {{- end }}
  {{- if .Values.secrets.payloadSecret }}
  PAYLOAD_SECRET: {{ .Values.secrets.payloadSecret | b64enc | quote }}
  {{- end }}
  {{- if .Values.secrets.payloadAuthSecret }}
  PAYLOAD_AUTH_SECRET: {{ .Values.secrets.payloadAuthSecret | b64enc | quote }}
  {{- end }}
  {{- if .Values.secrets.s3BucketName }}
  S3_BUCKET_NAME: {{ .Values.secrets.s3BucketName | b64enc | quote }}
  {{- end }}
  {{- if .Values.secrets.s3AccessKey }}
  S3_ACCESS_KEY: {{ .Values.secrets.s3AccessKey | b64enc | quote }}
  {{- end }}
  {{- if .Values.secrets.s3SecretKey }}
  S3_SECRET_KEY: {{ .Values.secrets.s3SecretKey | b64enc | quote }}
  {{- end }}
  {{- if .Values.secrets.s3Endpoint }}
  S3_ENDPOINT: {{ .Values.secrets.s3Endpoint | b64enc | quote }}
  {{- end }}
  {{- if .Values.secrets.s3Region }}
  S3_REGION: {{ .Values.secrets.s3Region | b64enc | quote }}
  {{- end }}
  {{- if .Values.secrets.brevoApiKey }}
  BREVO_API_KEY: {{ .Values.secrets.brevoApiKey | b64enc | quote }}
  {{- end }}
  {{- if .Values.secrets.brevoSenderEmail }}
  BREVO_SENDER_EMAIL: {{ .Values.secrets.brevoSenderEmail | b64enc | quote }}
  {{- end }}
  {{- if .Values.secrets.mailgunEndpoint }}
  MAILGUN_ENDPOINT: {{ .Values.secrets.mailgunEndpoint | b64enc | quote }}
  {{- end }}
  {{- if .Values.secrets.mailgunApiKey }}
  MAILGUN_API_KEY: {{ .Values.secrets.mailgunApiKey | b64enc | quote }}
  {{- end }}
  {{- if .Values.secrets.mailgunSenderEmail }}
  MAILGUN_SENDER_EMAIL: {{ .Values.secrets.mailgunSenderEmail | b64enc | quote }}
  {{- end }}
  {{- if .Values.secrets.windyPdfApiKey }}
  WINDYPDF_API_KEY: {{ .Values.secrets.windyPdfApiKey | b64enc | quote }}
  {{- end }}
  {{- if .Values.secrets.stripeSk }}
  STRIPE_SK: {{ .Values.secrets.stripeSk | b64enc | quote }}
  {{- end }}
  {{- if .Values.secrets.stripeWebhookSecret }}
  STRIPE_WEBHOOK_SECRET: {{ .Values.secrets.stripeWebhookSecret | b64enc | quote }}
  {{- end }}
{{- end }}
{{- if and .Values.externalSecrets.enabled (eq .Values.externalSecrets.secretStore.name "local-vault")}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "payload-cms.fullname" . }}-secrets
  labels:
    {{- include "payload-cms.labels" . | nindent 4 }}
type: Opaque
stringData:
{{ .Files.Get .Values.externalSecrets.secretStore.secretFile | indent 2 }}  
{{- end }}